.home {
  margin: 64px 0;
  padding: 46px 0 0 96px;
  position: relative;
  display: flex;
  flex-direction: column;

  @media screen and (max-width: 650px) {
    margin: 64px 0;
    padding: 22px 0 0 1rem;
  }
}
