@use '@/styles/mixins' as *;

.filterActions {
  margin-top: 1rem;
  padding-top: 1rem;
  border-top: 1px solid var(--border-secondary);
  display: flex;
  justify-content: flex-end;
}

.applyButton {
  @include button-primary;
}
