.navItem {
  display: flex;
  align-items: center;
  gap: 8px;
  text-decoration: none;
  color: var(--color-text-muted);
  transition: color 0.2s;

  &:hover {
    color: var(--primary-color);
  }

  &.active {
    color: var(--primary-color);
  }

  .icon {
    width: 20px;
    height: 20px;
  }

  span {
    font-size: 15px;
    line-height: 1.2;
  }
}
