.footer {
  background-color: var(--bg-primary);
  border-top: 1px solid var(--border-primary);
  padding: 32px 0 16px 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  position: relative;

  .section {
    display: flex;
    flex-direction: column;
    gap: 8px;
    min-width: 120px;
    margin-bottom: 16px;
  }

  .sectionTitle {
    margin-bottom: 4px;
    font-weight: 600;
    color: var(--color-text-primary);
  }

  .links {
    display: flex;
    flex-direction: column;
    gap: 8px;
  }

  .link {
    color: var(--color-text-tertiary);
    text-decoration: none;
    font-size: 15px;
    transition: color 0.2s;

    &:hover {
      color: var(--primary-color);
    }
  }

  .copyright {
    bottom: 4px;
    left: 0;
    width: 100%;
    text-align: center;
    font-size: 13px;
    color: var(--color-text-disabled);
    margin: 36px 0 52px 0;
  }
}

@media screen and (max-width: 768px) {
  .footer {
    padding: 24px 16px 16px;

    .section {
      min-width: 100%;
      align-items: center;
      text-align: center;
      margin-bottom: 24px;
    }

    .copyright {
      margin: 24px 0 32px 0;
    }
  }
}
